RepoConfigurationFile=./config/Repos.config
ReleaseRootPath=development
QAEnvironmentsConfigurationFile=./QAEnvironments.config
VersionNumber=0
TagRootPath=rc
ModuleRootPath=./../../../ZDev/
SLACK_WEBHOOK=https://hooks.slack.com/services/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
SLACK_TOKEN=xoxp-72370943283-249965492498-251235105088-4b38c8169c963c7bd6e8ea455348f6ed
SLACK_WORKSPACE=
BinanceAPI=https://api.binance.com/api/v1/ticker/24hr
ServerPassWord=
BuildNumberFilePath=./../buildNumbers/
ServerURL=
ServerHostName=
ArchiveOutPutPath=./config/
ArchiveOutPutPathAutomation=./config/automation
ManifestOutPutPath=./config/
PathToJSONfiles=./config/
crashlytics_path=../Zapper/Crashlytics.framework
api_token=e1afbe89bd10ba45a6d17a5eb9a418331164f830
build_secret=06abe591f1c28d6db938236fe7bda9db35a103a287349bf2351ae3ec7a34314b
groups=ct-development,ct-pos,backoffice
Notifications=YES
ReleaseNotesPath=./config/ReleaseNotes.txt
IncrementVersionNumberPythonSript=./config/



