<footer class="s62mpio-0-sc-cMhqgX LKunl" wrap="wrap">
                <div class="s62mpio-0-sc-cmthru cUYwUt">
                    <ul class="s62mpio-0-ul-sc-iuJeZd fWFEWY">
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/aboutUs.html">About</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/agreement.html">Terms</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/statement.html">Privacy</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/en/fee/schedule">Fees</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/contactUsCn.html">Contact</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="https://github.com/binance-exchange/binance-official-api-docs">API</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/userCenter/coinApply.html">Apply to List</a></li>
                        <li class="s1q6t1sy-0 gQYxPK s1qi8teh-0 hMCSUO"><a href="/clientDownloads.html">Download</a></li>
                    </ul>
                    <ul class="s62mpio-0-ul-sc-hMFtBS gjjBWQ">
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Telegram"><a aria-label="Telegram" href="/contactUsCn.html#telegrams"><i class="iconfont icon-telegram s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Facebook"><a target="_blank" aria-label="Facebook" href="https://www.facebook.com/binanceexchange"><i class="iconfont icon-facebook s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Twitter"><a target="_blank" aria-label="Twitter" href="https://twitter.com/binance"><i class="iconfont icon-twitter s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Reddit"><a target="_blank" aria-label="Reddit" href="https://www.reddit.com/r/binanceexchange"><i class="iconfont icon-reddit s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Steemit"><a target="_blank" aria-label="Steemit" href="https://steemit.com/@binanceexchange"><i class="iconfont icon-steemit s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 fktqnw s1qi8teh-0 hMCSUO" title="Medium"><a target="_blank" aria-label="Medium" href="https://medium.com/binanceexchange"><i class="iconfont icon-medium s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                        <li class="s1q6t1sy-1 cFKkaN s1qi8teh-0 hMCSUO" title="Instagram"><a target="_blank" aria-label="Instagram" href="https://www.instagram.com/binanceexchange/"><i class="iconfont icon-instagram s1dfdoqb-0 eOLGbk" size="16" color="#fff"></i></a></li>
                    </ul>
                </div>
                <div class="s62mpio-0-sc-cmthru cUYwUt">
                    <div class="s62mpio-0-sc-gqPbQI fonKKW">© 2017 -
                        <!-- -->2018
                        <!-- -->Binance.com. All rights reserved</div>
                    <div class="s62mpio-0-sc-bMVAic hMLQuB"><span class="s1q6t1sy-2 ORbEf"></span>24h
                        <!-- -->Volume
                        <!-- -->:<span class="s1q6t1sy-3 ktjSLf">275,410.66</span>BNB /<span class="s1q6t1sy-3 ktjSLf">56,326.18</span>BTC /<span class="s1q6t1sy-3 ktjSLf">143,102.33</span>ETH /<span class="s1q6t1sy-3 ktjSLf">423,442,178.45</span>USDT</div>
                    <div class="s62mpio-0-sc-bsbRJL fnskaj"><i class="iconfont icon-wify s1dfdoqb-0 ckEQHX" size="16" color="#6dcb60"></i>Connected</div>
                </div>
 </footer>